@{
    ViewData["Title"] = "İletişim Bilgilerim";
}
<div class="text-center">
    <br />
    <br />
    <h2 sytle="color: purple">@ViewData["Title"]</h2>
    <br />
    <br />
    <h3>E-posta:</h3>
    <h3><a href="mailto:aysegulunal853@gmail.com"> aysegulunal853@gmail.com</a></h3>
</div>