@{
	Layout = "_LayoutAdmin";
}
@model SurveyType
<form method="post">
	<input asp-for="Id" Hidden />
	<div class="border b-3 mt5">
		<div class="row pb-3">
			<h2 class="text-primary">Anket Türü Sil</h2>
			</hr>
		</div>
		<div class="mb-3">
			<label asp-for="Name" class="p-0"></label>
			<input asp-for="Name" disabled class="form-control" />
		</div>

		<button type="submit" class="btn btn-lg btn-primary" style="width:200px">Anket Türü Sil</button>

		<a asp-controller="SurveyType" asp-action="index" class="btn btn-lg btn-primary" style="width:250px">
			Anket Türü Ekleye Geri Dön
		</a>
	</div>
</form>

