@{
	Layout = "_LayoutAdmin";
}
@model Survey
<form method="post">
	<input asp-for="Id" Hidden />
	<div class="border b-3 mt5">
		<div class="row pb-3">
			<h2 class="text-primary">Anket Sil</h2>
			</hr>
		</div>

		<div class="mb-3">
			<label asp-for="Title" class="p-0"></label>
			<input asp-for="Title" disabled class="form-control" />

		</div>
		<div class="mb-3">
			<label asp-for="Description" class="p-0"></label>
			<input asp-for="Description" disabled class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="Question" class="p-0"></label>
			<input asp-for="Question" disabled class="form-control" />
		</div>

		<button type="submit" class="btn btn-lg btn-primary" style="width:200px">Anket Sil</button>

		<a asp-controller="Survey" asp-action="index" class="btn btn-lg btn-primary" style="width:250px">
			Anketlere Geri Dön
		</a>
	</div>
</form>

